<div class="container-fluid">
    <div class="top-nav row">
        <div class="col-12 col-sm-3 text-center">
            <a class="navbar-brand" href="index.html"><img src="./assets/images/srisailam.png" class="logo"></a>
        </div>
        <div class="col-12 col-sm-6 txt d-none d-sm-block">శ్రీ భ్రమరాంబిక మల్లికార్జున స్వామి వార్ల దేవస్థానం</div>
        <div class="col-12 col-sm-3 text-right swami d-none d-sm-block"><img src="./assets/images/swami.png"
                class="logo"></div>
    </div>
</div>
<!-- 
<div class="top-nav">
    <a class="navbar-brand" href="index.html"><img src="../../assets/images/srisailam.png" class="logo"></a>

</div> -->
<nav class="navbar navbar-expand-lg navbar-light bg-light navbar-expand-lg-cust">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/home">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/aboutus">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/department">Department</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/updates">Updates</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/gallery">Gallery</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLink="/contactus">Contact Us</a>
            </li>
        </ul>
    </div>
</nav>